.test_class {
  color: red;
}

.test_class1 {
  color: aqua;
}

.test_class2 {
  color: greenyellow;
}

.test_class3 {
  color: blueviolet;
}

#test_id {
  color: greenyellow;
}

#test_id1 {
  color: green;
}